

.list {
    list-style-type: none;
  }
  
.btn-delete {
    margin-left: 20px;
}

.lists {
display: flex;
margin-left: 10%;

}

.doneDiv {
    margin-left: 30%;
    padding-left: 0;
}

.doneItem {
    margin-top: 10%;
    
    
}

.item-title {
    margin-right: 20px;
    text-decoration: line-through;
}

.list {
    list-style-type: none;
    padding: 0;
}

.item-form {
    margin-top: 5%;
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.add-btn {
    
  }
  
.header {
    margin-left: 10%;
}